.form-control, .form-select {
    border-radius: 4px;
    border: 0 !important;
    background: transparent;
    border-bottom: 1px solid rgb(132, 132, 132) !important ;
    border-radius: 0;
}

.form-control:focus, .form-select:focus {
    box-shadow: none !important ;
    background: transparent;
}

.table-content {
    position: relative;
    top: 120px;
    overflow-x: auto;
}

.btn_crud{
    border-radius: 3px;
}

.form-select:disabled {
    background-color: transparent !important;
}